/* Mulish font copied from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 127px 49px 135px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.menue {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: none;
}

.venture {
    color: #131318;
}

.vibe {
    color: #FF5400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 2.75rem;
}

nav li a {
    text-decoration: none;
    text-align: center;
    color: #424247;
    font-family: Mulish;
    font-size: 1.125rem;
    font-weight: 700;
}

.Home {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

/* header background image */
.header-background {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: cover;
    height: 31.25rem;
    flex-shrink: 0;
    border-radius: 1rem;
    margin: 0px 135px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-title {
    color: #FFF;
    font-size: 3.8rem;
    font-weight: 800;
    padding: 90px 187px 0px 187px;
    margin-bottom: 1.5rem;
}

.header-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    padding: 0px 247px;
    margin-bottom: 64px;
}

.box {
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.btn-primary-1 {
    width: 10.875rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    width: 10.875rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    width: 10.875rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

/* Main part style */
.popular-tours {
    display: flex;
    justify-content: center;
    margin: 100px 135px;
    gap: 30px;
}

.tours-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    margin-top: 0px;
}

.tours-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.tours-para-h {
    width: 550px;
    margin-bottom: 1.5rem;
}

.tours-para-bullet {
    width: 450px;
    margin-bottom: 1rem;
    text-align: justify;
}

.tours-para-f {
    width: 550px;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.btn-tours {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
}

/* Choose destination part style */
.tours-img {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.destination {
    margin: 0px 135px;
}

.dest-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}

.dest-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: center;
    margin-bottom: 3rem;
}

.dest-r1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.dest-r2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.dest-r3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

/* why choose us section */
.choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: center;
    margin-bottom: 3rem;
}

.ch-us-r1 {
    display: flex;
    justify-content: center;
    margin: 100px 135px;
    gap: 1rem;
    margin-bottom: 1rem;

}

.ch-us-r2 {
    display: flex;
    justify-content: center;
}

.ch-bg-1 {
    width: 515px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}

.ch-bg-2 {
    width: 515px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}

.ch-bg-3 {
    width: 515px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-left: 32px;
    padding-top: 32px;
}

.icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-bottom: 32px;
}

.ch-us-header {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 16px;
}

.ch-us-text {
    width: 486px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
}

/* Newsletter section style */
.newsletter {
    display: flex;
    justify-content: center;
    margin: 100px 135px;
    gap: 1.5rem;
    margin-bottom: 0px;

}

.news-description {
    width: 430px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;

}

.news-head {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 40px;
    margin-bottom: 16px;
}

.news-text {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.input {
    width: 313px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    border: none;
    padding-left: 20px;
    margin-left: 40px;
}

.hr {
    width: 330px;
    height: 0px;
    background: rgba(19, 19, 24, 0.10);
    border: none;
    margin: 24px 40px;
}

.subscribe {
    width: 333px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 8px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    padding-left: 20px;
    margin-left: 40px;
}

.discount {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 1rem;
    background: #FF5400;
    padding-top: 5px;
    position: relative;
    bottom: 180px;
    left: 340px;
}

.news-email {
    transform: rotate(-0deg);
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.news-saver {
    transform: rotate(-0deg);
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

/* Footer Section style */
.footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    flex-shrink: 0;
    margin-top: 0px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-top: 110px;
    margin-bottom: 10px;
}

.logo {
    width: 40px;
    height: 46.673px;
    flex-shrink: 0;
}

.footer-title {
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

.footer-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: center;
    margin-bottom: 0px;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 33px;
    margin-bottom: 50px;
}

.s-icon {
    height: 24px;
    width: 24px;
}

.hr-1 {
    margin: 0px 284px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav>ul {
        display: none;
    }

    /* .menue{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        display: block;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 52px 127px 49px 135px;
    } */
    .header-background {
        width: auto;
        height: auto;
        flex-shrink: 0;
        border-radius: 1rem;
        margin: 0px 20px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: cover;
    }

    .header-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        padding: 32px 65px 0px 65px;
    }

    .header-description {
        color: #FFF;
        text-align: center;
        font-size: .90rem;
        font-weight: 400;
        line-height: 1.3125rem;
        padding: 0px 16px;
        margin-bottom: 32px;
    }

    .box {
        display: flex;
        width: auto;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        gap: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        margin: 0px 40px;
    }

    .btn-primary-1 {
        width: 400px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        border: none;
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        padding-left: 30px;
        font-size: 1rem;
        font-weight: 400;
    }

    .btn-primary {
        width: 430px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        border: none;
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        padding-left: 30px;
        font-size: 1rem;
        font-weight: 400;
    }

    .btn {
        width: 430px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-left: 20px;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
    }

    .popular-tours {
        display: block;
        justify-content: center;
        margin: 24px 20px;
    }

    .tours-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .tours-img {
        margin-top: 24px;
    }
    .dest-r1 {
        display: block;
        width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    }
    
    .dest-r2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
    }
    
    .dest-r3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
    }
}